/**
 * Common styles for ubuntu-portal themes
 *
 * @author Simple Machines
 * @author Vadim Nevorotin <malamut@ubuntu.ru>
 */

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Droid Arabic Naskh";
	src: url("../fonts/DroidNaskh-Regular.ttf");
}

@font-face {
	font-family: "Droid Arabic Naskh";
	font-weight: bold;
	src: url("../fonts/DroidNaskh-Bold.ttf");
}

html, body {
	height: 100%;
}

body {
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../images/bg_dotted.png");
	background-position: 0px 0px;
	background-repeat: repeat;
	color: #333;
	font-family: "Ubuntu", "DejaVu Sans","Iranian Sans" ,"Tahoma";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 16px;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	color: #dd4814;
}

a:hover, a:active {
	text-decoration: underline;
}

.clearer {
	clear: both;
	height: 0px;
}

.rounded {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bottom-rounded {
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

.top-rounded {
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}


/* Шрифты */

h1, h2, h3, h4, h5, h6 { 
	font-weight: 400;
}

h1 {
	font-size: 36px;
	line-height: 40px;
	display: block;
}

h2 {
	font-size: 24px;
	line-height: 28px;
	display: block;
}

.small-text {
	font-size: 10px;
	line-height: 14px;
}

/* *** */

div#__container {
	width: 100%;
	position: relative;
	min-height: 100%;
}

div#__container > div:first-child {
	margin: 0px auto;
	/*width: 1000px;*/
	max-width: 1400px;
	position: relative;
	min-height: 100%;
}

#__page {
	background-color: #f7f7f7;
	margin: 0px 25px 9px 25px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

body.with-editbar #__page {
	margin-bottom: 49px;
}

body#__detail #__page {
	margin-bottom: 25px;
}

#__wrapper {
	background-color: #fff;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	border: solid #ddd;
	border-width: 2px 1px;
	border-top: none;
}

body.dark #__wrapper {
	background-color: #2c001e;
}

div#__container > div:first-child > div.no {
	width: 100%;
	height: 16px;
	display: block;
}

/* прибитый футер */
/*
#__page {
	min-height: 100%;
}
*/
/**************/
/*** HEADER ***/

#__header {
	position: relative;
}

.__header__row {
	background: #262626;
  }

/* Header menu */

#__header-menu {
	padding: 0px 16px;
	display: flex;
	justify-content: space-between;
	flex: 1;
}

body.dark #__header-menu {
	border-bottom-color: #2f1326;
}

#__header-menu a {
	text-decoration: none;
}

#__header-menu li {
	display: inline-block;
}

#__header-menu > ul {
	display: block;
	list-style-type: none;
	font-size: 14px;
	background: transparent url("../images/menu_divider.png") repeat-y;
}

#__header-menu > ul a {
	display: block;
	text-align: center;
	padding: 22px 8px;
	color: #fff;
	text-shadow: 0px 1px #000;
}

#__header-menu > ul a:hover,
#__header-menu > ul a:active,
#__header-menu > ul a.active
{
	background-color: rgba(255,255,255,.05);
}

/* Header submenu */

#__header-menu .header-submenu {
	position: absolute;
	z-index: 9;
	width: 100%;
	margin-left: -258px;
	top: 64px;
	right: 16px;
}

#__header-menu .header-submenu > div {
	margin-left: 259px;
	background-color: #f7f7f7;
	border: #f3f3f3 solid 1px;
	border-bottom-color: #ececec;
	border-top: none;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

body.dark #__header-menu .header-submenu > div {
	/*background-color: #d3d0cd;*/
	border-bottom-color: #ccc;
	/*border-top-color: #aaa;*/
}

#__header-menu .header-submenu ul {
	display: block;
	list-style-type: none;
	float: right;
	font-size: 12px;
	background: url("../images/subnav_active_bg.png") repeat;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

#__header-menu .header-submenu a {
	padding: 15px;
	color: #333;
	text-shadow: none;
	background: #f7f7f7;
	border-right: #eeeded solid 1px;
}

#__header-menu .header-submenu a:hover,
#__header-menu .header-submenu a:active,
#__header-menu .header-submenu a.active,
body.dark #__header-menu .header-submenu a:hover,
body.dark #__header-menu .header-submenu a:active,
body.dark #__header-menu .header-submenu a.active
{
	background: transparent;
	color: #dd4814;
}

#__header-menu .header-submenu li:first-child a {
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

/* SMF specific */


#menu_nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	align-items: flex-start;
	background: #333;
  }
  #menu_nav a {
	padding: 1em;
	display: block;
  }
  #menu_nav ul {
	list-style: none;
  }
  #menu_nav li > div {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: max-content;
	background: #262626;
	z-index: 10;
  }
  div,#menu_nav li div.active {
	display: block;
  }
  #menu_nav li {
	position: relative;
  }
  #menu_nav a {
	color: #fff;
  }
  #menu_nav a:hover{
	background: rgba(255, 255, 255, 0.05);
	text-decoration: none;
  }
  #menu_nav div a {
	padding: 1rem;
  }
/* Header logo */

#__header-logo a {
	display: block;
	padding: 16px;
	background-color: #e95420;
}

/* Header search */

.search__icon{
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.964 1a5.964 5.964 0 014.709 9.623l4.303 4.305-1.06 1.06-4.306-4.305A5.964 5.964 0 116.963 1zm0 1.5a4.464 4.464 0 100 8.927 4.464 4.464 0 000-8.927z' fill='hsl(0%2C0%%2C100%)' fill-rule='nonzero'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
	height: 1rem;
	width: 1rem;
	pointer-events: none;
	right: calc(.5rem + 1px);
}

/* Header media query */

@media (min-width: 900px){
	.__header__row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 0 1.5rem;
	  }
	  #menu_nav{
		padding: 0 1.5rem;
	  }
}

/* Search form */

#__search-box {
	position: relative;
	z-index: 20;
	width: 100%;
	display: none;
}

.search__wrapper {
	display: flex;
	position: relative;
  }

#__search-box input#search__input
{
	width: 100%;
	border: none;
	padding: 4px;

}
#search__input:focus
{
	outline: 3px solid #2e96ff;
}
#__search-box #search__submit
{
	padding: 4px 8px;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent;
	border: none;
}

#__search-box #search__submit:hover
{
	background-position: 0px -23px;
}

#search__submit .search__icon{
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.964 1a5.964 5.964 0 014.709 9.623l4.303 4.305-1.06 1.06-4.306-4.305A5.964 5.964 0 116.963 1zm0 1.5a4.464 4.464 0 100 8.927 4.464 4.464 0 000-8.927z' fill='black' fill-rule='nonzero'/%3E%3C/svg%3E");
}


#__search-box input#search__submit:active,
#__search-box input.button:active
{
	background-position: 0px -46px;
}

/* search active */
.search-active #__header-menu {
	flex: 1;
}

.search-active #__header-menu > ul{
	display: none;
}

.search-active #__search-box{
	display: block;
	padding: 15px;
}

/* search overlay */
.__search-overlay{
	background: rgba(17,17,17,.5);
	transition: 250ms ease;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	opacity: 0;
}

.search-active .__search-overlay{
	position: fixed;
	opacity: 1;
	z-index: 10;
}

/* Всплывающая подсказка для формы поиска */

#__search-box div.ajax_qsearch {
  position: absolute;
  right: 0px;
  top: 43px;
  min-width: 222px;
  display: none;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
   -webkit-box-shadow: 0px 0px 4px #bbb;
  -moz-box-shadow: 0px 0px 4px #bbb;
  box-shadow: 0px 0px 4px #bbb;
}

#__search-box div.ajax_qsearch strong {
	display: block;
	padding: 8px;
	font-weight: normal;
	background-image: url("../images/subnav_active_bg.png");
}

#__search-box div.ajax_qsearch ul {
	margin: 8px 8px;
	list-style: none;
	line-height: 18px;
}
#__search-box div.ajax_qsearch li { 
	padding-left: 8px;
	background: url("../images/tocdot2.gif") 0px 9px no-repeat;
}

/*****************/
/*** MAIN AREA ***/

#__main {
	position: relative;
	padding: 0 16px 16px 16px;
	color: #222;
    margin: auto;
    max-width: 100%;
}

#__main-title h1 {
	margin: 30px 8px 32px 0;
	float: right;
	clear: right;
}

#__main-title h2 {
	margin: 0px 0px 32px 8px;
	float: left;
	clear: left;
}

#__main-title span {
	color: #aea79f;
}

body.dark #__main-title h1
{
	color: #fff;
}

body.dark #__main-title h2 {
	color: #aea79f;
	/*color: #fff;*/
}

/* Upshrink for SMF */

#__main-title #upshrink {
	float: left;
	clear: left;
	padding-top: 44px;
	padding-left: 7px;
}

/* Message Area */

div.msgarea {
	clear: both;
	margin: 8px 0px;
}

div.msgarea > div {
	padding: 4px 8px;
	padding-left: 32px;
	background-position: 8px 4px;
}

/***************/
/*** CONTENT ***/

.content {
	clear: both;
	position: relative;
	background-color: #f7f7f7;
	padding: 1px 0px;
	margin-bottom: 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.content-main {
	margin: 15px 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Dark */

body.dark .content {
	background-color: #f7f7f7;
}

body.dark .content-main {
	margin-bottom: 31px;
}

/* Clear */

.content.clear {
	background-color: #fff;
	padding: 0px;
}

.content.clear .content-main {
	padding-left: 8px;
	margin: 0px;
}

/* FIXME -разобраться со всеми этими clear*/
body.dark .content.clear {
	background-color: #f7f7f7;
	padding: 1px 0px;
}

body.dark .content.clear .content-main {
	padding-left: 0px;
	margin: 15px 16px;
	margin-bottom: 31px;
}

/* smf */

div.smf {
	clear: both;
}

/* sidebars */

.content-wrapper {
	width: 100%;
	margin-right: -236px;
	float: left;
}

.content-wrapper .content {
	margin-right: 236px;
}

.sidebar {
	float: right;
	width: 222px;
	font-size: 14px;
	line-height: 18px;
	background: #f7f7f7;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 4px #bbb;
	-moz-box-shadow: 0px 0px 4px #bbb;
	box-shadow: 0px 0px 4px #bbb;
}

.sidebar a {
	color: __text__;
	text-decoration: none;
}

.sidebar a.wikilink2 {
	color: #aea79f;
	text-decoration: none;
}

.sidebar div a:hover,
.sidebar div a:active
{
	color: __existing__;
}

.sidebar h4 {
	display: block;
	padding: 7px 8px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	background: #dfdcd9;
}

.sidebar h4 a {
	color: __text__;
}

.sidebar > div {
	margin: 8px 12px 8px 0px;
}

.sidebar ul {
	list-style: none;
	margin-left: 10px;
	line-height: 22px;
}

.sidebar div.li {
	background: url("../images//hs_arrow.png") no-repeat 0% 50%;
	/*text-indent: -16px;
	padding-left: 28px;*/
	padding-left: 12px;
}

.sidebar div.li:hover {
	background: url("../images/H3_arrow.png") no-repeat 0% 50%;
}

/* Кнопочка Править для боковой колонки */

.sidebar div.secedit2 {
	margin: 0px;
	position: relative;
	top: -8px;
	left: -8px;
	float: right;
}

.sidebar div.secedit2 a {
	color: #ccc;
}

/* Content menu */

.content-menu {
	border-bottom-color: #d9d9d9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background: #f7f7f7;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}

.content-menu ul {
	display: block;
	list-style-type: none;
	background: url("../images/subnav_active_bg.png") repeat;
	float: right;
	-webkit-border-radius: 0px 4px 0px 0px;
	-moz-border-radius: 0px 4px 0px 0px;
	border-radius: 0px 4px 0px 0px;
}

.content-menu ul:first-child {
	float: left;
	-webkit-border-radius: 4px 0px 0px 0px;
	-moz-border-radius: 4px 0px 0px 0px;
	border-radius: 4px 0px 0px 0px;
}

.content-menu li {
	float: right;
}

.content-menu ul:first-child li {
	float: left;
}

.content-menu ul a {
	display: block;
	height: 27px;
	text-align: center;
	padding: 13px 8px 0px 8px;
	color: #333;
	background: #f7f7f7 url("../images/third_nav_divider_r.png") no-repeat 0px 1px;
}

.content-menu ul:first-child a {
	background: #f7f7f7 url("../images/third_nav_divider.png") no-repeat 100% 1px;
}

.content-menu ul a:hover,
.content-menu ul a:active,
.content-menu ul a.active
{
	color: #dd4814;
	background: transparent;
}

.content-menu li:first-child a {
	-webkit-border-radius: 0px 4px 0px 0px;
	-moz-border-radius: 0px 4px 0px 0px;
	border-radius: 0px 4px 0px 0px;
}

.content-menu ul:first-child li:first-child a {
	-webkit-border-radius: 4px 0px 0px 0px;
	-moz-border-radius: 4px 0px 0px 0px;
	border-radius: 4px 0px 0px 0px;
}

/* Breadcumbs */

div.breadcrumbs {
	padding: 13px 8px 0px 8px;
	height: 27px;
	position: relative;
	float: right;
	color: #aea79f;
}

div.breadcrumbs a:hover {
	text-decoration: underline;
	color: #dd4814;
}

/**************/
/*** FOOTER ***/

.u-footer {
    position: relative;
    padding: 2.5rem 0;
    background-color: #fff;
    box-sizing: border-box;
  }
  .fd_dark .u-footer{
    background-color: #171b24;
  }
  /*top border*/
  .u-footer::before {
    height: 0.1875rem;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: #e95420;
    content: "";
    position: absolute;
  }
  
  .u-footer__row {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 68rem;
    margin: auto;
  }
  
  .u-footer--nav {
    display: flex;
    max-width: max-content;
  }
  
  .u-footer--nav--part:not(:last-child) {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .u-footer--title {
    font-size: 1em;
    font-weight: normal;
    padding: 0 0 0.25rem;
    margin: 0;
  }
  
  .u-footer--title > a {
    color: inherit;
  }
  
  .u-footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .u-footer-list > li {
    display: block;
  }
  
  .u-footer-list > li > a {
    display: block;
    color: inherit;
  }
  
  .u-footer--divider {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    border-collapse: separate;
    height: 0;
    margin-top: 2rem;
	margin-bottom: calc(.5rem - 1px);
  }
  
  @media screen and (min-width: 55rem) {
    .u-footer__row {
      display: flex;
    }
    .u-footer__row--content {
      width: 60%;
    }
    .u-footer__row--social {
      width: 40%;
    }
    .social-icons {
      justify-content: flex-end;
    }
  }
  
  .u-inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .u-inline-list--item {
    display: inline-block;
  }
  
  .u-inline-list--link {
    display: inline-block;
    color: inherit;
    padding: 0.5rem 0.25rem;
  }
  
  .u-footer--copyright-text {
    margin: 1.5rem 0 0;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .social-icons--link {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;
    margin-left: 1rem;
    background: #666;
    border-radius: 50%;
    text-align: center;
  }
  
  .social--svg-icon {
    width: 1em;
    height: 1em;
    fill: #fff;
    vertical-align: middle;
  }
  .u-footer--go-top {
    display: none;
  }
  
  .u-footer--go-top--link {
    color: #666;
    padding: 0.5rem 1.5rem;
    display: block;
  }
  .u-footer--go-top--icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }
  @media screen and (max-width: 55rem) {
    .u-footer {
      padding-top: 0;
    }
    .u-footer--go-top {
      display: block;
      margin: 0 0 1rem;
      border-bottom: 1px solid #666;
    }
    .u-inline-list--link,
    .u-inline-list--item {
      display: block;
      padding: 0;
      font-size: 0.875rem;
    }
    .social-icons {
      margin-top: 1rem;
    }
  }

/* ************ */
/* Content menu */

#__control_switcher {
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 2px 4px 2px 4px;
	background: #fff;
	border-top: solid 1px #d9d9d9;
	border-left: solid 1px #d9d9d9;
	-webkit-border-radius: 4px 0px 0px 0px;
	-moz-border-radius: 4px 0px 0px 0px;
	border-radius: 4px 0px 0px 0px;
	z-index: 42;
	background: #f7f7f7;
}

#__control_switcher a {
	text-decoration: none;
	color: #333;
}

#__control_switcher a:hover {
	color: #dd4814;
}

#__control {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background: #f7f7f7;
	border-top: solid 1px #d9d9d9;
	height: 40px;
	z-index: 45;
	/* Баг а Opera - тени растягивают body
	-webkit-box-shadow: 0px 0px 4px #bbb;
	-moz-box-shadow: 0px 0px 4px #bbb;
	box-shadow: 0px 0px 4px #bbb;*/
}

#__control ul {
	display: block;
	list-style-type: none;
	background: #f7f7f7 url("../images/subnav_active_bg.png") repeat;
	float: right;
}

#__control ul:first-child {
	float: left;
}

#__control li {
	float: right;
}

#__control ul:first-child li {
	float: left;
}

#__control ul a {
	display: block;
	height: 27px;
	text-align: center;
	padding: 13px 8px 0px 8px;
	color: #333;
	text-decoration: none;
	background: #f7f7f7 url("../images/third_nav_divider_r.png") no-repeat 0px 1px;
}

#__control ul:first-child a {
	background: #f7f7f7 url("../images/third_nav_divider.png") no-repeat 100% 1px;
}

#__control ul a:hover,
#__control ul a:active,
#__control ul a.active
{
	color: #dd4814;
	background: transparent;
}

#__control div.user.dokuwiki {
	float: left;
	height: 27px;
	padding: 13px 8px 0px 8px;
	color: #aea79f;
	font-size: 12px;
	line-height: 16px;
}

#__control div.user.dokuwiki a {
	color: inherit;
	text-decoration: none;
}

#__control div.user.dokuwiki a.logout:hover {
	color: #dd4814;
}

/* #########################################################################
 * Дополнительные элементы
*/

div.download-pdf {
	float: right;
	position: relative;
	clear: right;
	padding-top: 16px;
}

#__main-title div.download-pdf {
	padding-top: 29px;
}

a.download-pdf {
	display: block;
	width: 224px;
	height: 40px;
	background: url("../images/btn-manual-download.png") no-repeat;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}

a.download-pdf:hover {
	background: url("../images/btn-manual-download-hover.png") no-repeat;
}

div.besthosting {
	float: left;
	height: 26px;
	margin: 0 32px;
	margin-top: 1px;
	text-align: center;
	line-height: 10px;
	position: relative;
	top: 2px;
}

div.besthosting a {
	color: #aea79f;
}

div.besthosting a:hover {
	color: #dd4814;
	text-decoration: none;
}